<div>
  <br><br><br>
  <h1>Acn Solutions Private Limited India</h1>
  <br>
  <nav>
    <a routerLink="/home">Home</a> |
    <a routerLink="/plist">Product List</a> |
    <a routerLink="/aelist">Acn EmpList</a> |
    <a routerLink="/emplist">Employee List</a> |
    <a routerLink="/contus">Contact Us</a>
  </nav>
  <br><br><br>
  <router-outlet></router-outlet>
  <!--<app-productlist></app-productlist>
  <br><br><br>
  <app-employeelist></app-employeelist>
  <br><br><br>
  <app-acnemplist></app-acnemplist>-->
  <br><br><br> <br><br><br><br>
</div>
